body {
    background-image: url('https://www.hdwallpapers.in/download/gradient_abstract_vivo_v9_stock-HD.jpg');
}

.contact-page {
    text-align: center;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

hr {
    border-style: dashed;
}

.input-box {
    background-color: transparent;
    border-style: solid;
    border-width: 3px;
    border-color: cadetblue;
}

.btnsubmit {
    background-color: transparent;
    border: 2px;
    border-style: dashed;
    font-size: large;
    color: aquamarine;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.btnsubmit:hover {
    background-color: aqua;
    color: dimgrey;
}

.table {
    margin-left: auto;
    margin-right: auto;
}

.links {
    text-align: center;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    padding-left: 50px;
    color: aliceblue;
}

a:hover {
    color: cadetblue;
}
