.navlinks {
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    padding: 10px;

}

.navlinks:hover {
    color: blue;
}

.work {
    text-align: center;
    background-color: blanchedalmond
}

.team-work {
    margin-top: 20px;
}

.coffee {
    text-align: center;
    background-color: black;
    color: rgb(143, 100, 60);
}

.coffee-img {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 25px;
    float: left;
}

.contact-coffee {
    width: 50%;
    margin: auto;
}

.socialize {
    width: 50%;
    text-align: center;
    margin: auto;
}

.footer {
    background-color: darkcyan;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    line-height: 2;
}

.footer-links {
    padding-left: 2%;
    padding-right: 2%;
}

.description {
    padding-left: 20%;
    padding-right: 20%;
}

.message {
    font-size: larger;
    padding: 10px 25px;
    border-style: solid;
    border-radius: 10px;
    background-color: cornflowerblue;
    color: blueviolet;
    transition: 0.5s;
}

.message:hover {
    background-color: darkslateblue;
    color: cyan;
}

hr {
    border-style: none;
    border-top: dotted;
    border-width: 5px;
    width: 5%;
    color: gray;
}

h1 {
    font-family: 'Special Elite', cursive;
}

h2 {
    font-family: 'Supermercado One', cursive;
}

h3 {
    font-family: 'Lacquer', cursive;
}

h4 {
    font-family: 'Lacquer', cursive;
}

