body {
    margin: 0;
}

.heading {
    margin-top: 35px;
}

.page-body {
    background-color: rgb(228, 255, 222);
}

.intro {
    padding: 5% 5% 7% 15%;
    margin-right: 0;
}

.intro-hr {
    margin-top: 50px; 
    width: 10%;
}

.about {
    padding: 0% 15% 5%;
    text-align: left;
}

hr {
    border-style: none;
    border-top: dotted;
    border-width: 5px;
    width: 8%;
    color: gray;
    margin-left: 0;
}

p {
    font-family: 'Indie Flower', cursive;
    font-size: 1.5rem;
}

h1 {
    font-family: 'Cabin Sketch', cursive;
    font-size: 3.5rem;
}

h2, h3 {
    font-family: 'Gugi', cursive;
}

.socialize {
    padding: 7% 15% 7% 20%;
    text-align: center;
}

.skills {
    padding: 5% 0%;
}

.description {
    margin-top: 25px;
}

.footer {
    background-color:rgb(172, 221, 222);
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    line-height: 2;
}

.footer-links {
    padding-left: 2%;
    padding-right: 2%;
}

@media (max-width: 640px) {
    .carousel-inner {
        height: 140px;
    }
    .img-sagar {
        margin-bottom: 20px;
    }
    .skills {
        margin-bottom: 50px;
    }
    .intro-hr {
        margin-top: 0px;
        margin-bottom: 50px;
        width: 8%;
    }
    h1 {
        font-family: 'Cabin Sketch', cursive;
        font-size: 2.5rem;
    }
}
