body {
    background-color: antiquewhite;
}

.header {
    display: grid;
    grid-template-columns: 10% 2fr;
    grid-gap: 10px;
}

.img-top {
    height: 60px;
    width: 60px;
    margin-left: 35px;
    margin-top: 5px;
}

.links {
    grid-column: 2;
    text-align: right;
    margin-top: 15px;
    margin-right: 20px;
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
}

.test {
    padding-left: 0px;
}

.table {
    border-width: 2px;
    border-style: dashed;
    border-spacing: 10px;
    border-radius: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.homepage {
    text-align: center;
}

.sagar-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

hr {
    border-style: none;
    border-top: dotted;
    border-width: 5px;
    width: 5%;
    border-color: cadetblue;
}

h1 {
    color: lightsalmon;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    color: cadetblue;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}

h4 {
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}

p {
    padding-left: 15%;
    padding-right: 15%;
    font-size: large;
    font-style: inherit;
    font-family: Georgia, serif;
}

.message {
    border-style: solid;
    padding: 15px;
    border-radius:100px;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.message:hover {
    background-color: cornflowerblue;
    color: blue;
}

a {
    color: coral;
    padding-left: 11px;
}

a:hover {
    color: blueviolet;
}
