body {
    background-image: url('https://clarkwritesblog.files.wordpress.com/2017/04/color-gradient-background-wallpaper-2.jpg');
}

.homepage {
    grid-template-columns: 750px 1fr;
    grid-gap: 10px;
    display: grid;
    margin-top: 8px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: large;
    font-style: inherit;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: burlywood;
}

.introduction {
    text-align: center;
    grid-column: 1/2;
}

.picture {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-left: 50px;
    grid-column: 1/2;
}

.text {
    height: 50px;
    width: 300px;
    background-color: transparent;
    border-style: dashed;
    border-width: 5px;
    font-size: medium;
    text-align: center;
    color: aqua;
    border-color: cadetblue;
    font-family: Arial, Helvetica, sans-serif;
}

.send {
    height: 40px;
    width: 85px;
    background-color: transparent;
    border-style: double;
    border-width: 5px;
    font-size: medium; 
    font-style: normal;
    color: darkgray;
}

.textbox {
    text-align: center;
    grid-column: 1/2;
}

button:hover {
    color: cyan;
    background-color: cadetblue;
}

.tom-jerry {
    grid-column: 2/2;
    grid-row: 1/1;
    height: 550px;
    width: 370px;
}

.links {
    text-align: center;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    padding-left: 50px;
    color: aliceblue;
}

a:hover {
    color: cadetblue;
}