body {
    margin: 0;
}

.navlinks {
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    padding: 10px;

}

.navlinks:hover {
    color: blue;
}

.links {
    padding-left: 10px;
    padding-right: 10px;
    font-size: larger;
    color: cornflowerblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.section-one {
    background-color: lavender;
    text-align: center;
}

.sagar-img {
    height: 180px;
    border-radius: 50%;
    margin-top: 2%;
    float: left;
}

.intro {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.hello {
    padding-top: 30px;
    padding-bottom: 20px;
}

.about {
    padding-right: 20%;
    padding-left: 20%;
}


.socialize {
    text-align: center;
}

.web {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.lion {
    float: left;
    padding-right: 5px;
}

.edit {
    float: left;
    
}

.code {
    float: right;
    margin-top: 30px;
    margin-left: 35px;
}

.images {
    padding-left: 5px;
}

.footer {
    background-color: darkcyan;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    line-height: 2;
}

.footer-links {
    padding-left: 2%;
    padding-right: 2%;
}

.contact {
    margin: auto;
    border-style: solid;
    padding: 10px 20px;
    background-color: orange;
    color: darkslategrey;
    border-radius: 8px;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: 0.5s;
}

.contact:hover {
    background-color: red;
    color: cyan;
    text-decoration: none;
}

hr {
    border-style: none;
    border-top: dotted;
    border-width: 5px;
    width: 5%;
    color: gray;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
}

h1:hover {
    color: chocolate;
}

h2 {
    font-family: 'Fredoka One', cursive;
}

h3 {
    font-family: 'Black Ops One', cursive;
}

h5 {
    line-height: 1.5;
    font-family: 'Varela Round', sans-serif;
}

h6 {
    margin-bottom: 0;
}

p {
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
}
