.header {
    display: grid;
    grid-template-columns: 10% 2fr;
    grid-gap: 10px;
}

.img-top {
    height: 60px;
    width: 60px;
    margin-left: 35px;
    margin-top: 5px;
}

.links {
    grid-column: 2;
    text-align: right;
    margin-top: 15px;
    margin-right: 20px;
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: rgb(247, 210, 156);
}

.report {
    text-align: center;
}

h1 {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    color: darkslategray;
}

h3 {
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: teal;
}

p {
    color: chocolate;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li {
    color: chocolate;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.message {
    border-style: solid;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    color: chocolate;
}

.message:hover {
    background-color: cornflowerblue;
    color: blue;
}

a {
    color: crimson;
}

a:hover {
    color: cornflowerblue;
}

hr {
    border-style: none;
    border-top: dotted;
    border-width: 5px;
    width: 5%;
    color: gray;
}

