/* ROOT */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::selection {
    background: #00c9ff;
    color: white;
    border-radius: 10px;
}

body, html {
    height: 100%
}

h1 {
    font-family: 'Sirin Stencil', cursive;
}
h2 {
    font-family: 'Rubik', sans-serif;
}
h4 {
    font-family: 'Love Ya Like A Sister', cursive;
    font-family: 'Signika Negative', sans-serif;
}

a:hover {
    text-decoration: none;
}

hr {
    border-style: none;
    border-top: dotted;
    border-width: 5px;
    width: 20%;
    color: gray;
    margin-left: auto;
    margin-top: 25px;
}

main {
    padding: 10%;
    height: 100%;
    background-image: url("images/headers_pictures/toronto.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.row {
    display: flex;
}
  
.column {
    flex: 50%;
}

.left {
    margin: auto;
    padding-right: 5%;
    text-align: right;
}

.right {
    text-align: left;
    padding-left: 5%;
}

.header_image {
    width: 45%;
}

.experience, .projects, .awards, .about {
    padding: 10% 7%;
    text-align: center;
}

.about {
    background-color:rgb(249, 244, 222);
}

.card {
    display: inline-table;
    margin: 1%;
    box-shadow: 0px 0px 10px 2px rgba(125, 123, 123, 0.459);
}

.card-body {
    width: 280px;
}

.internship-exp-sk {
    width: 120px;
    padding-bottom: 20px;
}

.internship-exp-bt {
    width: 90px;
    padding-bottom: 30px;
    padding-top: 20px
}

.internship-exp-rh {
    width: 90px;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.card-img-top {
    height: 10rem;
}

.projects {
    background-color: rgb(232, 243, 250);
}

.createdUsing {
    padding: 1px 8px 2px;
    border: 1px solid rgb(2, 129, 255);
    border-radius: 5px;
    color:rgb(2, 129, 255);
    display: inline-table;
    margin: 2px 1px;
    transition: 0.3s;
}

.createdUsing:hover {
    background-color: rgb(2, 129, 255);
    color: white
}

.award-cards {
    height: 7rem;
}

.normal-size {
    width: 1rem !important;
    height: 1rem !important;
    margin: 0 0.2rem !important;
}

.bi {
    width: 5rem;
    height: 5rem;
    margin: 1rem;
}

footer {
    padding:  3% 5%;
    text-align: center;
    background-color:gainsboro;
}

@media (max-width: 885px) {
    .row {
        flex: none;
        margin-top: 50%;
    }
    .column {
        flex: none;
        width: 100%;
    } 
    .left {
        text-align: center;
    }
    .right {
        margin-top: 25px;
        text-align: center;
        padding-left: 0;
    }
}

.trash {
    padding: 3% 12%;
    text-align: center;
    background-color: aliceblue;
}

video {
    max-width: 40%;
    height: auto;
    border: 2px solid #333;
    border-radius: 8px;
}