.navlinks {
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  padding: 10px;

}

.navlinks:hover {
  color: blue;
}

.first-section {
  text-align: center;
}

.section-two {
  background-color: bisque;
  text-align: center;
}

.footer {
  background-color: darkcyan;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  line-height: 2;
}

.footer-links {
  padding-left: 2%;
  padding-right: 2%;
}

#experience h1 {
  font-size: 50px;
}

#experience h2 {
  padding-left: 15%;
  padding-right: 15%;
}

#experience h3 {
  padding: 5% 15%;
}

#experience h5 {
  padding: 0% 15%;
}

.css-table {
  font-family: 'Varela Round', sans-serif;
}
