/* ROOT */

::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 50px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  ::selection {
    background:#00c9ff;
    color: white;
    border-radius: 10px;
  }

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

h1 {
    font-family: 'Cabin Sketch', cursive;
    font-size: 3.5rem;
}

h2, h3 {
    font-family: 'Gugi', cursive;
}

h4 {
    font-family: 'Nunito', sans-serif;
}


hr {
    border-style: none;
    border-top: dotted;
    border-width: 5px;
    width: 8%;
    color: gray;
    margin-left: auto
}

p {
    font-family: 'Indie Flower', cursive;
    font-size: 1.5rem;
}

/* HOME */

nav {
    position: fixed;
    width: 100%;
    margin-top: 20px;
    padding: 1% 0%;
    text-align: center;
    z-index: 1000;
}

.box {
    width: 50%;
    background-color:cornflowerblue;
    margin: auto;
    padding: 10px 0px;
    border-radius: 10px;
}

nav img {
    height: 50px;
    border-radius: 10px;
    margin-top: -10px;
}

nav h4 {
    display: inline-block;
    padding-top:10px;
    margin-left: 10px;
}

nav h5 {
    display: inline;
    padding: 0% 1%;
}

nav a {
    color: darkblue;
}

.links {
    display: inline;
    margin-left: 5%;
}

.heading {
    padding: 0 15%;
}

.carousel {
    padding: 1% 15% 0;
}

.page-body {
    background-image: linear-gradient(#00c9ff, #39faeac2);
    text-align: center;
}

.intro {
    padding: 5% 5% 7% 15%;
    margin-right: 0;
}

.intro-hr {
    margin: 50px auto;
    width: 10%;
}

.about {
    padding: 0% 15% 5%;
    text-align: center;
}

@media (max-width: 640px) {
    .carousel-inner {
        height: 140px;
    }

    .skills {
        margin-bottom: 50px;
    }

    .intro-hr {
        margin-top: 0px;
        margin-bottom: 50px;
        width: 8%;
    }

    h1 {
        font-family: 'Cabin Sketch', cursive;
        font-size: 2.5rem;
    }
}

@media (max-width: 1050px) {
    nav {
        position: fixed;
        width: 100%;
        margin-top: 0px;
        padding: 0%;
        text-align: center;
        z-index: 1000;
    }
    nav h4 {
        display: none;
    }
    nav img {
        height: 40px;
        border-radius: 10px;
        margin-top: 0px;
    }
    .box {
        width: 100%;
        border-radius: 0px;
    }
}

#container {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    margin: auto;
    padding-top: 20%;
    padding-bottom: 15%;
}

.circle {
    border-radius: 50%;
    background-color: rgb(103, 61, 255);
    width: 150px;
    height: 150px;
    position: absolute;
    opacity: 0;
    animation: scaleIn 4s infinite cubic-bezier(.36, .11, .89, .32);
}

.item {
    z-index: 100;
    padding: 5px;
}

@keyframes scaleIn {
    from {
        transform: scale(.5, .5);
        opacity: .5;
    }

    to {
        transform: scale(2.5, 2.5);
        opacity: 0;
    }
}

@media (min-width: 640px) {
    #container {
        width: 600px;
    }
}

.socialize {
    padding: 7% 15% 7% 20%;
    text-align: center;
    background-color: white;
}

.skills {
    padding: 5% 0%;
}

.description {
    margin-top: 25px;
}

/* CONTACT */

.work {
    text-align: center;
    background-color: aliceblue;
}

.team-work {
    margin-top: 20px;
}

.coffee {
    text-align: center;
    background-color: lightblue;
    color: black;
}

.coffee-img {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 25px;
    float: left;
}

.contact-coffee {
    width: 50%;
    margin: auto;
}

.socialize {
    text-align: center;
    margin: auto;
}


#work .description {
    padding-left: 20%;
    padding-right: 20%;
}


@media (max-width: 640px) {
    .table td,
    .table th {
        padding: 0rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }
}

/* EXPERIENCE */

.first-section {
    padding-top: 8%;
    text-align: center;
}

.section-two {
    background-color: paleturquoise;
    text-align: center;
}

#experience h1 {
    font-size: 50px;
}

#experience h2 {
    padding-left: 15%;
    padding-right: 15%;
}

#experience h3 {
    padding-top: 4%;
    padding-bottom: 1%;

}

#experience h5 {
    padding: 0% 15%;
}

.css-table {
    font-family: 'Varela Round', sans-serif;
}


/* PORTFOLIO */

.portfolio {
    text-align: center;
    width: 90%;
    margin: auto auto 50px;
    padding: 8% 3% 5%;
}

.card {
    display: inline-table;
    margin: 60px 30px;
    box-shadow: 0px 0px 15px 5px rgba(16, 16, 16, 0.459);
    color: burlywood;
}

.card-header, .card-body, .card-footer {
    color: burlywood;
}

#portfolio .line {
    margin: 0;
    width: 100%;
    border-style: none;
    border-top-style: solid;
    border-width: 3px;
    color: burlywood;
}

#portfolio h4 {
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 0;
}

#portfolio h5 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
}

#portfolio p {
    font-family: serif;
    font-size: 1.2rem;
}

#portfolio .fas{
    font-size: 15px;
    color: burlywood;
    margin-left: 10px;
}

#portfolio .fab{
    font-size: 18px;
    color: burlywood;
    margin-left: 10px;
}


#portfolio .fas:hover {
    color: darksalmon;
}


#portfolio .fab:hover {
    color: darksalmon;
}

/* FOOTER */

.footer {
    background-color: rgb(172, 221, 222);
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    line-height: 2;
}

.footer-links {
    padding-left: 2%;
    padding-right: 2%;
}

.fab, .fas {
    font-size: 27px;
    color: royalblue
}

.fab:hover, .fas:hover {
    color: darkblue;
}
